@font-face {
  font-family: NorseFont;
  src: url(fonts/Norsebold.otf);
}

* {
  box-sizing: border-box;
}

body {
  margin: auto;
}

.container {
  display: flex;
}

.imageContainer {
  display: flex;
  flex-wrap: wrap;
  width: 35%;
  height: 100vh;
  position: relative;
}

.image {
  width: 100%;
  height: 100%;
}

.overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 120px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #ffffff; 
  top: 52%;
  font-size: 6rem;
  top: 20%;
  text-align: center;
  font-family: "NorseFont", serif;
}

.logo {
  width: 90px;
  height: 110px;
}

.author {
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  position: absolute;
  bottom: 1%;
  color: white;
  text-align: center;
  padding: 5px;
}

.mainPage {
  display: flex;
  flex-direction: column;
  width: 65%;
  height: 100vh;
}

.messageSection {
  background-color: rgb(243, 243, 243);
  width: 100%;
  height: 29vh;
  padding-top: 40px;
  padding-left: 40px;
  font-size: 20px;
  font-weight: 500;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.messageSection p {
  width: 800px;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 80vh;
  overflow: visible;
}

.inputSection {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: 41vh;
  padding-left: 40px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  overflow: visible;
  z-index: 2;
  position: relative;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

h2 {
  width: 100%;
  height: 5px;
}

.inputField {
  width: 400px;
  padding-right: 50px;
  display: inline-flex;
  flex-direction: column;
  gap: 1px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

label {
  font-size: 15px;
  font-weight: 500;
  font-family: 'Calibri', 'Trebuchet MS', sans-serif;
}

input {
  width: 350px;
  height: 30px;
  padding: 7px;
  font-size: 18px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

input:user-invalid {
  border-color: red;
}

input:user-valid {
  border-color: green;
}

input:focus {
  outline: none;
  border-color: darkblue;
}

.buttonSection {
  width: 100%;
  height: 32vh;
  padding-top: 35px;
  padding-left: 40px;
  background-color: whitesmoke;
}

button {
  width: 220px;
  height: 50px;
  font-size: 1em;
  background-color: #596d48;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.buttonSection p {
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 25px;
}
